.chapeltown-preview,
.frogging-preview,
.plumtree-preview,
.eventfull-preview,
.trackyoself-preview {
}

 .project-preview-container {
  flex: 2;
  position: absolute;
  margin-left: 29.3em;
}

.project-preview-container img {
  width: 10em;
  min-width: 100%;
}
/*
.project-preview-parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project-preview-parent > div {
}

.project-preview-parent > div > img {
  width: 20em;
  min-width: 100%;
} */

/* @media only screen and (max-width: 1100px) { */
  .project-preview-parent {
    display: block;
  }
  /* .project-preview-parent > div > img {
  	max-width: 100%;
  } */

.each-image {
  width: 20em;
  min-width: 100%;
}
