.side-panel-footer {
  margin: 2.5em 0;
  bottom: 0;
  position: absolute;
}

.mb-footer-link {
  text-decoration: none;
  color: #222222;
}

.footer-mb {
  display: inline-block;
  font-size: 0.8em;
  font-family: MaisonNeueLight;
  color: #222222;
}

.footer-social {
  display: inline-block;
  right: 0;
  float: right;
  opacity: 0.6;
  left: 8.5em;
  position: relative;
  padding-top: 0.25em;
}

.github-icon {
  padding: 0 1.2em;
}
