.side-panel-link {
  font-size: 0.75em;
  font-family: MaisonNeueLight;
  text-decoration: none;
}
.side-panel-link a {
  text-decoration: none;
  color: #222222;
}
.link-colour-bg {
  padding: 0.15em;
  background: rgb(198,255,221);
  background: linear-gradient(45deg,
              rgba(198,255,221,1) 0%,
              rgba(251,215,134,1) 50%,
              rgba(247,121,125,1) 100%);
}
