.project-preview-container {
  background-color: antiquewhite;
  z-index: 1000;
}
.project-preview-parent {
  position: absolute;
right: 0;
width: 300px;
}



.chapeltown-preview,
.frogging-preview,
.plumtree-preview,
.eventfull-preview,
.trackyoself-preview {
  width: 200px;
  border: 1px solid purple;
}
