.side-panel-container {
  background-color: #f5f5f5;
  font-size: 1em;
  padding: 0 3.2em;
  flex: 1;
  min-width: 23em;
  max-width: 23em;
  min-height: 100vh;
  position: fixed;
}
.page-container {
  min-width: 100vw;
  margin-right: auto;
  margin-left: auto;
}
.project-preview-container {
  flex: 2;
  position: absolute;
  margin-left: 29.3em;
}

.layout {
  display: flex;
}
/* Responsive: */
/* @media only screen and (min-width: 640px) {
  .layout {
    display: flex;
  }
} */

@media screen and (max-width: 750px) {
  /* body > h1 { font-size: 3rem; } */
  layout {
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    flex-direction: column;
  }
}
