@font-face {
    font-family: MaisonNeueBold;
    src: url(../fonts/Maison_Neue_Bold.otf);
}
@font-face {
    font-family: MaisonNeueLight;
    src: url(../fonts/Maison_Neue_Light.otf);
}
@font-face {
    font-family: MaisonNeueMediumItalic;
    src: url(../fonts/Maison_Neue_Medium_Italic.otf);
}
.side-panel-header {
  color: #222222;
  margin-top: 5em;
  font-family: MaisonNeueBold;
  font-size: 0.9em;
  line-height: 2.7em;
}
.header-text {
  padding-bottom: 1.32em;
}
.cool {
  padding: 0.1em;
  background: rgb(198,255,221);
  background: linear-gradient(45deg,
              rgba(198,255,221,1) 0%,
              rgba(251,215,134,1) 50%,
              rgba(247,121,125,1) 100%);
}
.cool a {
  text-decoration: none;
  color: #222222;
}
.side-panel-caption {
  font-size: 0.75em;
  font-family: MaisonNeueMediumItalic;
  line-height: 1.5em;
  letter-spacing: 0.03em;
  margin-top: -0.8em;
}
.side-panel-details {
  font-size: 0.75em;
  margin: 3.5em 0 3.3em 0;
  font-family: MaisonNeueLight;
  color: #222222;
  line-height: 1.7em;
}
.side-panel-details p {
  margin-top: -14px;
}
.details-bold {
  font-family: MaisonNeueBold;
  letter-spacing: 0.015em;
}
.side-panel-description {
  font-size: 0.75em;
  margin: 3.3em 0;
  font-family: MaisonNeueLight;
  color: #222222;
  line-height: 1.7em;
}
.side-panel-link {
  font-size: 0.75em;
  font-family: MaisonNeueLight;
  text-decoration: none;
}
.side-panel-link a {
  text-decoration: none;
  color: #222222;
}
.link-colour-bg,
.caption {
  padding: 0.15em;
  background: rgb(198,255,221);
  background: linear-gradient(45deg,
              rgba(198,255,221,1) 0%,
              rgba(251,215,134,1) 50%,
              rgba(247,121,125,1) 100%);
}






.side-panel-container {
  background-color: #f5f5f5;
  font-size: 1em;
  padding: 0 3.2em;
  flex: 1;
  min-width: 23em;
  max-width: 23em;
  min-height: 100vh;
  position: fixed;
}
.page-container {
  min-width: 100vw;
  margin-right: auto;
  margin-left: auto;
}
.project-preview-container {
  flex: 2;
  position: absolute;
  left: 29.3em;
}

.layout {
  display: flex;
}
/* Responsive: */
/* @media only screen and (min-width: 640px) {
  .layout {
    display: flex;
  }
} */

@media screen and (max-width: 750px) {
  /* body > h1 { font-size: 3rem; } */
  layout {
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    flex-direction: column;
  }
}
