@font-face {
    font-family: MaisonNeueBold;
    src: url(../fonts/Maison_Neue_Bold.otf);
}
@font-face {
    font-family: MaisonNeueLight;
    src: url(../fonts/Maison_Neue_Light.otf);
}
@font-face {
    font-family: MaisonNeueMediumItalic;
    src: url(../fonts/Maison_Neue_Medium_Italic.otf);
}
.side-panel-header {
  color: #222222;
  margin-top: 5em;
  font-family: MaisonNeueBold;
  font-size: 0.9em;
  line-height: 2.7em;
}
.side-panel-caption {
  font-size: 0.75em;
  /* margin: 4.5em 0; */
  font-family: MaisonNeueMediumItalic;
  color: #222222;
  line-height: 1.5em;
  letter-spacing: 0.03em;
  margin-top: -0.8em;
  opacity: 0.6;
}
.side-panel-details {
  font-size: 0.75em;
  margin: 4.5em 0;
  font-family: MaisonNeueLight;
  color: #222222;
  line-height: 1.7em;
}
.side-panel-description {
  font-size: 0.75em;
  margin: 4.5em 0;
  font-family: MaisonNeueLight;
  color: #222222;
  line-height: 1.7em;
}






.side-panel-container {
  background-color: #f5f5f5;
  font-size: 1em;
  padding: 0 3.2em;
  flex: 1;
  min-width: 23em;
  max-width: 23em;
  min-height: 100vh;
}
.page-container {
  min-width: 100vw;
  margin-right: auto;
  margin-left: auto;
}
.project-preview-container {
  flex: 2;
}

.layout {
  display: flex;
}
/* Responsive: */
/* @media only screen and (min-width: 640px) {
  .layout {
    display: flex;
  }
} */

@media screen and (max-width: 750px) {
  /* body > h1 { font-size: 3rem; } */
  layout {
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    flex-direction: column;
  }
}
