@font-face {
    font-family: MaisonNeueBold;
    src: url(../fonts/Maison_Neue_Bold.otf);
}
@font-face {
    font-family: MaisonNeueLight;
    src: url(../fonts/Maison_Neue_Light.otf);
}
@font-face {
    font-family: MaisonNeueMediumItalic;
    src: url(../fonts/Maison_Neue_Medium_Italic.otf);
}
.side-panel-wrapper {
  border: 1px solid red;
  background-color: #f5f5f5;
  font-size: 1em;
  padding: 0 2.5em;
  max-width: 23em;
  min-height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}
.side-panel-header {
  color: #222222;
  margin-top: 5em;
  font-family: MaisonNeueBold;
  font-size: 0.9em;
  line-height: 2.7em;
}
.side-panel-caption {
  font-size: 0.75em;
  /* margin: 4.5em 0; */
  font-family: MaisonNeueMediumItalic;
  color: #222222;
  line-height: 1.5em;
  letter-spacing: 0.03em;
  margin-top: -0.8em;
}
.side-panel-description {
  font-size: 0.75em;
  margin: 4.5em 0;
  font-family: MaisonNeueLight;
  color: #222222;
  line-height: 1.5em;
}
.side-panel-footer {
  font-size: 0.8em;
  margin: 2.5em 0;
  bottom: 0;
  position: absolute;
  font-family: MaisonNeueLight;
  color: #222222;
}
