@font-face {
    font-family: MaisonNeueBold;
    src: url(../fonts/Maison_Neue_Bold.otf);
}
@font-face {
    font-family: MaisonNeueLight;
    src: url(../fonts/Maison_Neue_Light.otf);
}
.side-panel-wrapper {
  border: 1px solid red;
  background-color: #f5f5f5;
  font-size: 1em;
  padding: 0 2.5em;
  max-width: 23em;
  min-height: 100vh;
  position: absolute;
}
.side-panel-header {
  border: 1px solid blue;
  color: #222222;
  margin: 5em 0;
  font-family: MaisonNeueBold;
  font-size: 0.9em;
  line-height: 2.7em;
}
.side-panel-description {
  border: 1px solid green;
  font-size: 0.75em;
  margin: 2.5em 0;
  font-family: MaisonNeueLight;
  color: #222222;
  line-height: 1.5em;
}
.side-panel-footer {
  border: 1px solid pink;
  font-size: 0.8em;
  margin: 2.5em 0;
  bottom: 0;
  position: absolute;
  font-family: MaisonNeueLight;
  color: #222222;
}
