.side-panel-wrapper {
  border: 1px solid red;
  font-size: 1em;
  padding: 2.5em;
  max-width: 23em;
  min-height: 100vh;
  font-family: Helvetica;
}
.side-panel-header {
  color: salmon;
}
.side-panel-description {
  font-size: 0.8em;
}
.side-panel-footer {
  font-size: 0.8em;
}
